[Unit]
Description=Watch $HOME/proj and sync to OneDrive
After=default.target
Requires=default.target

[Service]
ExecStart=$HOME/.scripts/watch-rsync.sh
Restart=always

[Install]
WantedBy=default.target