[Unit]
Description=Watch ~/proj and sync to OneDrive
After=onedrive-mount.service
Requires=onedrive-mount.service

[Service]
ExecStart=%h/.scripts/watch-rsync.sh
Restart=always

[Install]
WantedBy=default.target
